*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}
.df{
  display: flex;
}
.fdc{
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jcs{
  justify-content: start;
}
.jcsb{
  justify-content: space-between;
}
.w70{
  width: 70%;
  margin: 0 auto;
}
.Header1{
  padding: 15px;
  gap: 30px;
}
.Header2{
  padding: 15px;
  margin-top: 50px;
  gap: 10px;
}
.Headerb{
  gap: 20px;
}
.Headerb1{
  height: 35px;
}
button{
  height: 100%;
  width: 100%;
}
.btn{
  width: 90px;
}
