*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* user-select: none; */
}
.df{
  display: flex;
}
.fdc{
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jcs{
  justify-content: start;
}
.jcsb{
  justify-content: space-between;
}
.w70{
  width: 70%;
  margin: 0 auto;
}
.w100{
  width: 100%;
  height: 100%;
}
.Header1{
  padding: 15px;
  gap: 30px;
}
.bghead{
  background-image: url('images/head_bg.jpeg');
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  margin-top: -50px;
  height: 400px;
  position: relative;
}
.bharat{
  border-radius: 50%;
}
.bgcolohead{
  background-color: #003B95;
  color: white;
}
.Header2{
  padding: 15px;
  margin-top: 50px;
  gap: 10px;
}
.Headerb{
  gap: 20px;
}
.Headerb1{
  height: 35px;
}
button{
  height: 100%;
  width: 100%;
}
.btn{
  width: 90px;
}
.Searchbox{
  margin-top: 50px;
  position: absolute;
  bottom: -25px;
  left: 230px;
  background-color: #ffb700;
  border-radius: 5px;
}
select{
  border-radius: 5px;
}
.Dd1{
  width: 25%;
  height: 65px;
  padding: 5px;
}
.Dd1a{
  width: 35%;
}
.Dd1b{
  width: 25%;
}
.Dd1c{
  width: 25%;
}
.Dd1d{
  width: 15%;
}
.pbox{
  margin-top: 50px;
  gap: 20px;
}
.pcard{
  width: 30%;
  border-radius: 15px;
  border: 1px solid blue;
  gap: 10px;
}
.pcard:hover{
  width: 32%;
}
.cimg{
  height: 200px;
}
.txt1{
  font-size: 20px;
}
.txt2{
  font-size: 15px;
}
.Stay{
  margin-top: 50px; 
  gap: 20px;
}
.stay1{
  background-color: #00224F;
  color: white;
}
.butsy{
  height: 40px;
  width: 550px;
}
.butsub{
  height: 100%;
  width: 150px;
}
.butcol{
  background-color: #006CE4;
  color: white;
}
.regbut{
  background-color: white;
  color: #006CE4;
}
input{
  width: 100%;
  padding: 5px;
}
img{
  height: 100%;
  width: 100%;
}
.footbar{
  margin-top: 20px;
}
.f1{
  background-color: #003B95;
  color: white;
}
li{
  list-style: none;
  margin-bottom: 5px;
}
.footl{
  width: 20%;
  align-items: start;
  font-size: 13px;
}
.footbar2{
  margin-top: 50px;
  color: #216CE4;
}


@media(max-width:576px){
    .Header1{
      width: 100%;
      flex-direction: column;
    }
    .Headerb{
      width: 100%;
      flex-direction: column;
    }
    .bharat{
      width: 50px;
    }
    .Headera{
      height: 50px;
      width: 150px;
    }
    .Headerb2{
      flex-direction: column;
    }
    .pcard{
      width: 90%;
    }
    .footbar{
      flex-direction: column;
      align-items: center;
    }
}