*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* user-select: none; */
}
.df{
  display: flex;
}
.fdc{
  flex-direction: column;
}
.aic{
  align-items: center;
}
.jcs{
  justify-content: start;
}
.jcsb{
  justify-content: space-between;
}
.w70{
  width: 70%;
  margin: 0 auto;
}
.w100{
  width: 100%;
  height: 100%;
}
.Header1{
  padding: 15px;
  gap: 30px;
}
.bghead{
  background-image: url('images/head_bg.jpeg');
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}
.bharat{
  border-radius: 50%;
}
.bgcolohead{
  background-color: #003B95;
  color: white;
}
.Header2{
  padding: 15px;
  margin-top: 50px;
  gap: 10px;
}
.Headerb{
  gap: 20px;
}
.Headerb1{
  height: 35px;
}
button{
  height: 100%;
  width: 100%;
}
.btn{
  width: 90px;
}
.Searchbox{
  margin-top: 50px;
}
.Dd1{
  width: 25%;
  height: 50px;
  padding: 5px;
}
.pbox{
  margin-top: 50px;
  gap: 20px;
}
.pcard{
  width: 30%;
  border-radius: 15px;
  border: 1px solid blue;
  gap: 10px;
}
.cimg{
  height: 200px;
}
.txt1{
  font-size: 20px;
}
.txt2{
  font-size: 15px;
}
.Stay{
  margin-top: 50px; 
  gap: 20px;
}
.butsy{
  height: 40px;
  width: 550px;
}
.butsub{
  height: 100%;
  width: 150px;
}
.butcol{
  background-color: #006CE4;
  color: white;
}
.regbut{
  background-color: white;
  color: #006CE4;
}
input{
  width: 100%;
  padding: 5px;
}
img{
  height: 100%;
  width: 100%;
}
.footbar{
  margin-top: 20px;
}